En este archivo relaizaremos lo que es la limpieza de datos y el analisis del dataset proporcionado para que podamos realizar un analiss exploratorio mas completo. lo que realizaremos en este archivo es:
 * normalizar ecrituras
 * conteo de datos nulos
 * verificar tipo de datos
 * verificra duplicados

# importamos librerias

In [150]:
import pandas as pd
import numpy as np
from datetime import datetime

# lectura de dataset

In [151]:
victimas_df = pd.read_excel('./Data_original/homicidios.xlsx', sheet_name='VICTIMAS')
hechos_df = pd.read_excel('./Data_original/homicidios.xlsx', sheet_name='HECHOS')

# revision general

In [152]:
victimas_df.head(1)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

In [153]:
hechos_df.head(1)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

Normalizamos datos para su mejor compresion

In [154]:
#HECHOS
hechos_df.columns = hechos_df.columns.str.replace('_', ' ')  
hechos_df.columns = [x.capitalize() for x in hechos_df.columns] #normalizamos las palabras 
hechos_df = hechos_df.rename(columns={
    'N victimas': 'Cantidad de victimas', 'Aaaa':'Año', 'Mm':'Mes', 'Dd':'Dia','Hora':'Hora completa', 'Hh':'Hora'}) # cambiamos nombres de columnas

#VICTIMA
victimas_df.columns = victimas_df.columns.str.replace('_', ' ')  
victimas_df.columns = [x.capitalize() for x in victimas_df.columns] #normalizamos las palabras 
victimas_df = victimas_df.rename(columns={ 'Id hecho' : 'Id',
     'Aaaa':'Año', 'Mm':'Mes', 'Dd':'Dia', 'Hh':'Hora',}) # cambiamos nombres de columnas

In [237]:
hechos_df.head()

,Id,Cantidad de victimas,Fecha,Año,Mes,Dia,Hora completa,Hora,Tipo de calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,2016,1,1,1900-01-01 04:00:00,4,AVENIDA,PIEDRA BUENA AV.,SI,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,1900-01-01 01:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",SI,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,1900-01-01 07:00:00,7,AVENIDA,ENTRE RIOS AV.,NO,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,1900-01-01 00:00:00,0,AVENIDA,LARRAZABAL AV.,SI,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,1900-01-01 05:20:00,5,AVENIDA,SAN JUAN AV.,SI,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [156]:
victimas_df.head(1)

,Id,Fecha,Año,Mes,Dia,Rol,Victima,Sexo,Edad,Fecha fallecimiento
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

# contamos valores nulos

In [157]:
hechos_df.isnull().sum()

Id                         0
Cantidad de victimas       0
Fecha                      0
Año                        0
Mes                        0
Dia                        0
Hora completa              0
Hora                       0
Lugar del hecho            0
Tipo de calle              0
Calle                      1
Altura                   567
Cruce                    171
Dirección normalizada      8
Comuna                     0
Xy (caba)                  0
Pos x                      0
Pos y                      0
Participantes              0
Victima                    0
Acusado                    0
dtype: int64

__Altura__ tiene demasiados nulos por lo que no estaremos utilizandola  y la eliminaremos 

__Calle__ al ser un unico dato faltante lo rellenaremos con un ´desconocido´
 
__Cruce__  cruce tiene un bajo numero de nulos respectivamente a los datos que tenemos en nuestro dataset por lo que analizando los datos vemos que el nulo pertenece al referirse si el accidente fue en una interseccion o no por lo cual rellenaremos estos datos como si o no dependiendo su infomacion lo que significa que ahora esta columna tendrá 'SI' donde había valores no nulos y 'NO' donde había valores nulos.

__Dirrecion normalizada__  en esta columna solo encontramos 8 valores nulos por lo que analizaremos la informacion con la columna __lugar del hecho__ devido a que estas deverian tener la misma informacion.

In [158]:
# Altura
hechos_df = hechos_df.drop('Altura', axis=1)
#Calle
hechos_df['Calle'] = hechos_df['Calle'].fillna('Desconocido')
# Cruce
hechos_df['Cruce'] = np.where(hechos_df['Cruce'].notnull(), 'SI', 'NO')
# Dirrecion Normalizada
hechos_df['Dirección normalizada'] = hechos_df['Dirección normalizada'].fillna(hechos_df['Lugar del hecho'])

debido a que dirrecion normalizada tiene una mejor redaccion de la informacion trabjaremos con esta misma y borraremos lugar del hecho

In [159]:
hechos_df = hechos_df.drop(columns=['Lugar del hecho'])

In [160]:
hechos_df.isnull().sum()

Id                       0
Cantidad de victimas     0
Fecha                    0
Año                      0
Mes                      0
Dia                      0
Hora completa            0
Hora                     0
Tipo de calle            0
Calle                    0
Cruce                    0
Dirección normalizada    0
Comuna                   0
Xy (caba)                0
Pos x                    0
Pos y                    0
Participantes            0
Victima                  0
Acusado                  0
dtype: int64

# duplicados en HECHOS Y VICTIMAS

In [207]:
# Verificar si hay filas duplicadas en todo el DataFrame
duplicados_df = hechos_df.duplicated()

# Mostrar los duplicados si existen
if duplicados_df.any():
    print("Hay duplicados en el DataFrame. Las filas duplicadas son:")
    print(hechos_df[duplicados_df])
else:
    print("No hay duplicados en el DataFrame. HECHOS")


duplicados_df = victimas_df.duplicated()

# Mostrar los duplicados si existen
if duplicados_df.any():
    print("Hay duplicados en el DataFrame. Las filas duplicadas son:")
    print(victimas_df[duplicados_df])
else:
    print("No hay duplicados en el DataFrame. VICTIMAS")


# Verificar si hay duplicados en la columna 'Id'
duplicados_id = hechos_df['Id'].duplicated()
# Mostrar los duplicados si existen
if duplicados_id.any():
    print("Hay duplicados en la columna 'Id'. Los valores duplicados son:")
    print(hechos_df[hechos_df['Id'].duplicated(keep=False)])
else:
    print("No hay duplicados en la columna 'Id'")

num_duplicados = victimas_df['Id'].duplicated(keep=False).sum()
print(f"Número total de duplicados (incluyendo la primera aparición): {num_duplicados}")

No hay duplicados en el DataFrame. HECHOS
No hay duplicados en el DataFrame. VICTIMAS
No hay duplicados en la columna 'Id'
Número total de duplicados (incluyendo la primera aparición): 41

# verificar tipo de datos

In [162]:
hechos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     696 non-null    object
 1   Cantidad de victimas   696 non-null    int64
 2   Fecha                  696 non-null    datetime64[ns]
 3   Año                    696 non-null    int64
 4   Mes                    696 non-null    int64
 5   Dia                    696 non-null    int64
 6   Hora completa          696 non-null    object
 7   Hora                   696 non-null    object
 8   Tipo de calle          696 non-null    object
 9   Calle                  696 non-null    object
 10  Cruce                  696 non-null    object
 11  Dirección normalizada  696 non-null    object
 12  Comuna                 696 non-null    int64
 13  Xy (caba)              696 non-null    object
 14  Pos x                  696 non-null    object
 15  Pos y                  696 non-null    object
 16  Participantes          696 non-null    object
 17  Victima                696 non-null    object
 18  Acusado                696 non-null    object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 103.4+ KB

__HECHOS__


* Hora completa:  ajustar y modificar a datetime   <br>
* Hora pasar a un entero
*  para una mejor obtimizacion de vamos a convertir participantes, vitima, acusado y comuna a variables categoricas

In [165]:
def convertir_a_hora_estandarizada(x):
    if isinstance(x, str):
        try:
            # Convertimos cadenas en formato HH:MM:SS a objetos de tiempo
            return datetime.strptime(x, "%H:%M:%S").time()
        except ValueError:
            # Si no es un formato válido de tiempo, devolvemos None
            return None
    elif isinstance(x, datetime):
        # Si es un objeto datetime, extraemos la hora
        return x.time()
    elif pd.isnull(x):
        # Si es nulo, lo dejamos como None (puedes reemplazar con un valor por defecto si prefieres)
        return None
    return x

# Aplicamos la función a la columna que contiene los tiempos
hechos_df['Hora completa'] = hechos_df['Hora completa'].apply(convertir_a_hora_estandarizada)

In [166]:
hechos_df['Hora completa'].apply(type).value_counts() 
#verificamos el tipo de dato dentro de la columna y cuales son los que no se modificaron

Hora completa
<class 'datetime.time'>    695
<class 'NoneType'>           1
Name: count, dtype: int64

In [167]:
hechos_df[hechos_df['Hora completa'].isna()] # buscamos cual es el que no se convirtio

,Id,Cantidad de victimas,Fecha,Año,Mes,Dia,Hora completa,Hora,Tipo de calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y,Participantes,Victima,Acusado
518,2019-0103,1,2019-12-18,2019,12,18,None,SD,GRAL PAZ,"PAZ, GRAL. AV.",SI,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

observamos que este id no tiene una fecha establecida por lo podriamos remplazar este valor calculando la moda de esta columna

In [168]:
moda = hechos_df['Hora completa'].mode()
print(moda)
# observamos que tenemos 4 modas que tienen la misma frecuencia dentro
# de la columna por lo que podriamos utilizar alguna de estas para sustituir en nuestro dato faltante

0    09:00:00
1    12:30:00
2    14:00:00
3    16:00:00
4    21:00:00
Name: Hora completa, dtype: object

In [169]:
hechos_df['Hora completa'] = hechos_df['Hora completa'].fillna('12:30:00')
hechos_df['Hora completa'] = pd.to_datetime(hechos_df['Hora completa'], format='%H:%M:%S')

para la columna hora tenemos la misma situacion

In [172]:
hechos_df['Hora'].apply(type).value_counts()

Hora
<class 'int'>    695
<class 'str'>      1
Name: count, dtype: int64

In [175]:
moda = hechos_df['Hora'].mode()
print(moda)

0    7
Name: Hora, dtype: object

In [179]:
# Reemplazar 'SD' por un número
hechos_df['Hora'] = hechos_df['Hora'].replace('SD', 7)
# Convertir a entero
hechos_df['Hora'] = hechos_df['Hora'].astype(int)

C:\Users\rizo_\AppData\Local\Temp\ipykernel_19864\4139201277.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hechos_df['Hora'] = hechos_df['Hora'].replace('SD', 7)

In [182]:
hechos_df['Participantes'] = hechos_df['Participantes'].astype('category')
hechos_df['Victima'] = hechos_df['Victima'].astype('category')
hechos_df['Acusado'] = hechos_df['Acusado'].astype('category')

In [184]:
hechos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     696 non-null    object
 1   Cantidad de victimas   696 non-null    int64
 2   Fecha                  696 non-null    datetime64[ns]
 3   Año                    696 non-null    int64
 4   Mes                    696 non-null    int64
 5   Dia                    696 non-null    int64
 6   Hora completa          696 non-null    datetime64[ns]
 7   Hora                   696 non-null    int32
 8   Tipo de calle          696 non-null    object
 9   Calle                  696 non-null    object
 10  Cruce                  696 non-null    object
 11  Dirección normalizada  696 non-null    object
 12  Comuna                 696 non-null    int64
 13  Xy (caba)              696 non-null    object
 14  Pos x                  696 non-null    object
 15  Pos y                  696 non-null    object
 16  Participantes          696 non-null    category
 17  Victima                696 non-null    category
 18  Acusado                696 non-null    category
dtypes: category(3), datetime64[ns](2), int32(1), int64(5), object(8)
memory usage: 88.6+ KB

----------------------------------------------------

# VICTIMAS

__Haciendo un analisis profundo determinamos que podemos eliminar algunas columnas dentro de victimas ya que estas mismas las tenemos en la hoja HECHOS.__

In [195]:
victimas_df = victimas_df.drop(['Fecha', 'Año', 'Mes', 'Dia'], axis=1)

In [196]:
victimas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   717 non-null    object
 1   Rol                  717 non-null    object
 2   Victima              717 non-null    object
 3   Sexo                 717 non-null    object
 4   Edad                 717 non-null    object
 5   Fecha fallecimiento  717 non-null    object
dtypes: object(6)
memory usage: 33.7+ KB

Necesitamos convetir 
* Edad a un entero
* fecha de fallecimiento a datatime

Previamente pudimos añalizar que la columna fecha se encuentran algunos dato tipo string por que no podremos convertir la columna a enteros sin antes tratar con esos string

In [208]:
victimas_df[victimas_df['Edad'].apply(lambda x: isinstance(x, str))]

,Id,Rol,Victima,Sexo,Edad,Fecha fallecimiento
30,2016-0041,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
33,2016-0045,CONDUCTOR,MOTO,MASCULINO,SD,SD
35,2016-0048,PEATON,PEATON,FEMENINO,SD,SD
36,2016-0049,SD,SD,SD,SD,SD
39,2016-0052,SD,MOTO,SD,SD,SD
55,2016-0077,PEATON,PEATON,FEMENINO,SD,SD
63,2016-0085,SD,MOTO,MASCULINO,SD,SD
72,2016-0096,CONDUCTOR,MOTO,MASCULINO,SD,SD
89,2016-0115,SD,SD,MASCULINO,SD,SD
93,2016-0119,PASAJERO_ACOMPAÑANTE,SD,FEMENINO,SD,SD
108,2016-0136,CONDUCTOR,MOTO,SD,SD,SD
119,2016-0148,CONDUCTOR,MOTO,MASCULINO,SD,SD
121,2016-0151,PEATON,PEATON,SD,SD,SD
138,2016-0171,CONDUCTOR,MOTO,SD,SD,SD
141,2016-0174,SD,SD,SD,SD,SD
142,2016-0175,PEATON,PEATON,FEMENINO,SD,SD
165,2017-0027,PEATON,PEATON,MASCULINO,SD,2017-02-26 00:00:00
176,2017-0036,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
182,2017-0042,CONDUCTOR,MOTO,MASCULINO,SD,2017-04-10 00:00:00
225,2017-0093,PEATON,PEATON,MASCULINO,SD,2017-07-25 00:00:00
243,2017-0112,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
275,2017-0151,PEATON,PEATON,MASCULINO,SD,2017-12-04 00:00:00
277,2017-0153,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
299,2018-0014,PEATON,PEATON,MASCULINO,SD,2018-02-04 00:00:00
328,2018-0040,PEATON,PEATON,FEMENINO,SD,2018-04-27 00:00:00
359,2018-0071,CONDUCTOR,MOTO,MASCULINO,SD,2018-07-10 00:00:00
367,2018-0079,PEATON,PEATON,MASCULINO,SD,2018-07-23 00:00:00
371,2018-0083,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-02 00:00:00
377,2018-0088,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-17 00:00:00
391,2018-0101,CONDUCTOR,AUTO,MASCULINO,SD,2018-09-21 00:00:00
421,2018-0130,CONDUCTOR,MOTO,MASCULINO,SD,2018-12-03 00:00:00
444,2019-0010,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
446,2019-0011,PEATON,PEATON,MASCULINO,SD,2019-02-10 00:00:00
454,2019-0019,CONDUCTOR,MOTO,MASCULINO,SD,26/03/2019
457,2019-0022,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2019-03-15 00:00:00
461,2019-0026,PEATON,PEATON,MASCULINO,SD,2019-03-28 00:00:00
463,2019-0028,PEATON,PEATON,FEMENINO,SD,2019-04-06 00:00:00
469,2019-0034,CONDUCTOR,MOTO,MASCULINO,SD,2019-04-21 00:00:00
479,2019-0043,CICLISTA,BICICLETA,FEMENINO,SD,2019-05-21 00:00:00
498,2019-0063,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2019-08-04 00:00:00
506,2019-0071,PEATON,PEATON,MASCULINO,SD,2019-08-27 00:00:00
529,2019-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2019-11-18 00:00:00
530,2019-0095,CONDUCTOR,MOTO,MASCULINO,SD,2019-11-20 00:00:00
548,2020-0010,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-08 00:00:00
552,2020-0014,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-27 00:00:00
555,2020-0017,PEATON,PEATON,MASCULINO,SD,2020-03-05 00:00:00
563,2020-0025,PEATON,PEATON,MASCULINO,SD,2020-05-12 00:00:00
572,2020-0034,PEATON,PEATON,FEMENINO,SD,2020-08-02 00:00:00
579,2020-0040,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00
631,2021-0012,PEATON,PEATON,MASCULINO,SD,2021-01-29 00:00:00
639,2021-0020,PEATON,PEATON,FEMENINO,SD,2021-02-21 00:00:00
647,2021-0028,PEATON,PEATON,MASCULINO,SD,2021-03-29 00:00:00
698,2021-0079,PEATON,PEATON,MASCULINO,SD,2021-10-25 00:00:00

como podemos ver tenemos valores faltantes en la columna sexo por lo que la trabajremos primero
trabajaremos estos SD como valores nulos y como hicimos anteriormente buscaremos la media respectiva de cada una y lo rellenaremos con esos datos

In [ ]:
print('Rol tiene:', len(victimas_df[victimas_df['Rol']=='SD']))
print('Víctima tiene:', len(victimas_df[victimas_df['Victima']=='SD']))

In [279]:
 # creamos una funcion para convertir sd a nulos y con la frecuncia rellenamos datos
def frecuencia(df, columna):
    df[columna]=df[columna].replace('SD', pd.NA)
    frecuente= df[columna].mode().iloc[0]
    print('El valor más frecuente de', columna, 'es:', frecuente)
    df[columna].fillna(frecuente, inplace=True)

frecuencia_rol = frecuencia(victimas_df, 'Rol')
frecuencia_vic = frecuencia(victimas_df, 'Victima')

El valor más frecuente de Rol es: CONDUCTOR
El valor más frecuente de Victima es: MOTO

C:\Users\rizo_\AppData\Local\Temp\ipykernel_19864\3975748047.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columna].fillna(frecuente, inplace=True)

In [214]:
# Contar cuántos valores "SD" hay en las columnas
sd_edad = victimas_df['Edad'].str.contains('SD', na=False).sum()
sd_sexo = victimas_df['Sexo'].str.contains('SD', na=False).sum()
sd_fh = victimas_df['Fecha fallecimiento'].str.contains('SD', na=False).sum()

print(f"Cantidad de valores 'SD' en la columna 'Edad': {sd_edad}")
print(f"Cantidad de valores 'SD' en la columna 'Sexo': {sd_sexo}")
print(f"Cantidad de valores 'SD' en la columna 'F_H': {sd_fh}")

Cantidad de valores 'SD' en la columna 'Edad': 53
Cantidad de valores 'SD' en la columna 'Sexo': 6
Cantidad de valores 'SD' en la columna 'F_H': 68

In [270]:
#SEXO
victimas_df['Sexo'].replace(["SD", None, float('nan')], pd.NA, inplace=True) # covierte a nulos
sexo_moda = victimas_df['Sexo'].mode() # calcula la moda
print(f"la moda es:{sexo_moda}")
# Rellena los valores nulos
victimas_df['Sexo'].fillna(sexo_moda)

la moda es:0    MASCULINO
Name: Sexo, dtype: object

C:\Users\rizo_\AppData\Local\Temp\ipykernel_19864\2622453286.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  victimas_df['Sexo'].replace(["SD", None, float('nan')], pd.NA, inplace=True) # covierte a nulos

0      MASCULINO
1      MASCULINO
2      MASCULINO
3      MASCULINO
4      MASCULINO
         ...
712     FEMENINO
713     FEMENINO
714     FEMENINO
715    MASCULINO
716    MASCULINO
Name: Sexo, Length: 717, dtype: object

In [248]:
#EDAD
def ingresa_edad_media_segun_sexo(df):
    # Reemplaza 'SD' con NA en la columna 'Edad'
    df['Edad'] = df['Edad'].replace('SD', pd.NA)

    # Se calcula el valor promedio de la edad para cada género.
    promedio_por_genero = df.groupby('Sexo')['Edad'].mean().round()

    if 'FEMENINO' in promedio_por_genero and 'MASCULINO' in promedio_por_genero:
        print(f'La edad promedio de Femenino es {int(promedio_por_genero["FEMENINO"])} y de Masculino es {int(promedio_por_genero["MASCULINO"])}')
    else:
        print("No se pueden calcular promedios para uno o ambos géneros.")

    df['Edad'] = df.apply(
        lambda row: promedio_por_genero[row['Sexo']] if pd.notna(row['Sexo']) and pd.isna(row['Edad']) else row['Edad'], axis=1 )
    df['Edad'] = df['Edad'].astype('Int64')  

    return df  

victimas_df = ingresa_edad_media_segun_sexo(victimas_df)

La edad promedio de Femenino es 51 y de Masculino es 40

In [286]:
#fecha de fallecimento
victimas_df['Fecha fallecimiento'].apply(type).value_counts()

Fecha fallecimiento
<class 'datetime.datetime'>    648
<class 'str'>                   69
Name: count, dtype: int64

In [290]:
sd_f = victimas_df[victimas_df['Fecha fallecimiento'] == 'SD'].shape[0]
print(f"la columna tiene:{sd_f} como SD")
#rellenamos los datos con el mismo dia de registro
victimas_df.loc[victimas_df['Fecha fallecimiento'] == 'SD', 'Fecha fallecimiento'] = hechos_df['Fecha']
victimas_df['Fecha fallecimiento'] = pd.to_datetime(victimas_df['Fecha fallecimiento']) #cambiamos dato

la columna tiene:68 como SD

In [299]:
victimas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   717 non-null    object
 1   Rol                  717 non-null    object
 2   Victima              717 non-null    object
 3   Sexo                 717 non-null    object
 4   Edad                 717 non-null    Int64
 5   Fecha fallecimiento  717 non-null    datetime64[ns]
dtypes: Int64(1), datetime64[ns](1), object(4)
memory usage: 34.4+ KB

In [305]:
# Reiniciar el índice para asignar una clave única a cada registro
id_victimas_df = victimas_df.reset_index()
# Asignar el nombre 'Id victima' a la columna de clave única
id_victimas_df = id_victimas_df.rename(columns={'index': 'Id víctima'})

In [306]:
id_victimas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id víctima           717 non-null    int64
 1   Id                   717 non-null    object
 2   Rol                  717 non-null    object
 3   Victima              717 non-null    object
 4   Sexo                 717 non-null    object
 5   Edad                 717 non-null    Int64
 6   Fecha fallecimiento  717 non-null    datetime64[ns]
dtypes: Int64(1), datetime64[ns](1), int64(1), object(4)
memory usage: 40.0+ KB

# guardamos archivos a un csv

In [308]:
hechos_df = hechos_df.to_csv('./Data_clean/homicidios_hechos.csv', index=False)
victimas_df = victimas_df.to_csv('./Data_clean/homicidios_victimas.csv', index=False)

-------------------------------